---
layout: layouts/home.njk
menu:
  visible: true
  title: Home
  order: 0
---

{% set postslist = search.pages("type=games", "date=desc", 10) %}

<h1>Most Recent {{ postslist.length }} Games</h1>

{% include "templates/postslist.njk" %}


<p>More posts can be found in <a href="/posts/">the archive</a>.</p>
